body {
    background: black;
    background-image: url(fondo.png);
    margin: auto;
}

/* Color barra menú */
.menu {
  background-color: #393E46;
  overflow: hidden;
}

/* Cambiar estilo links menú */
.menu a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  font-family: sans-serif;
    
}

/* Cambiar color link dentro del menu */
.menu a:hover {
  background-color: #FFE8D6;
  color: black;
}

/* Cambiar color al link activo */
.menu a.active {
  background-color: #FFE8D6;
  color: black;
}

/* Apartado central de la web */
.contenido {
    background-color: red;
    height: 100%;
    margin-left: 15%;
    margin-right: 15%;
}